<section id="innerBanner"></section>
<main id="main">
  <div class="container-sm dashboard">
    {{>admin-sidebar}}
    <div class="container">
      {{#if alert}}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{alert}}
      </div>
      {{/if}}

      <div class="d-flex flex-wrap">
        {{#each rows}}
        <div class="card  mr-3" style="width: 18rem;background-color:var(--third)">
          <div class="card-header d-flex justify-content-between">
            <p>rdv_id :{{this.rdv_id}}</p>
            <p>client_id :{{this.user_id}}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Prénom : {{this.first_name}} </h5>
            <h5 class="card-title">Nom : {{this.last_name}} </h5>
            <h5 class="card-title">Date : {{this.rdv_date}} </h5>
            <h5 class="card-title">Heure : {{this.rdv_heure}} </h5>
            <div class="card-footer text-center ">
              <form action="/admin/rdv/{{this.rdv_id}}">
                <button type="submit" class="btn btn-danger">Annuler</button>
              </form>
            </div>

          </div>
        </div>
        {{/each}}
      </div>



    </div>
  </div>
</main>