<section id="innerBanner"></section>
<main id="main">
    <div class="container-sm dashboard">
        {{>client-sidebar}}
        <div class="container ">
            {{#if alert}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{alert}}
            </div>
            {{/if}}
            <div class="d-flex flex-wrap">
                {{#each rows}}
                <div class="card p-2 mr-3" style="width: 18rem;background-color:var(--third)">
                    <div class="card-body">
                        <h5 class="card-title">Date : {{this.rdv_date}} </h5>
                        <h5 class="card-title">Heure : {{this.rdv_heure}} </h5>
                        <form action="/client/{{user_id}}/{{this.rdv_id}}">
                            <button type="submit" class="btn btn-danger">Annuler</button>
                        </form>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>