<section id="innerBanner"></section>
<main id="main">
  <div class="container admin-dashboard">
    {{>sidebar}}
    <div class="main-admin-dashboard">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>

          </tr>
        </thead>
        <tbody>
          {{#each rows}}
          <tr>

            <th scope="row">{{this.user_id}}</th>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>

            <td class="text-end">
              <a href="/viewclient/{{this.user_id}}" type="button" class="btn btn-light btn-small"><i
                  class="bi bi-eye"></i> Voir</a>
              <a href="/edituser/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>
                Editer</a>
              <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i>
                Supprimer</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>

</main>